/** 
  * TurboTabs jQuery Plugin
  * Author: Aleksej Vukomanovic
  * Website: http://themeflection.com
  * Version: 1.0
  * Version from: 25.03.2015
  */
ul.tt_tabs {
  list-style-type: none;
  margin: 50px 12px 0;
  padding: 0;
  text-align: left;
}
ul.tt_tabs li {
  color: #fff;
  line-height: 1;
  margin-right: -4px;
  display: inline-block;
  padding: 18px 20px;
  margin-bottom: 0;
  background: rgba(6,13,19,0.7);
  transition: all 0.50s ease-in-out;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  -webkit-box-shadow: 
      inset 0 0 6px  rgba(0,0,0,0.6),
            0 0 10px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
      inset 0 0 6px  rgba(0,0,0,0.6),
            0 0 10px rgba(0,0,0,0.1); 
  box-shadow: 
      inset 0 0 6px  rgba(0,0,0,0.6),
            0 0 10px rgba(0,0,0,0.1);  
  border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
 }
 ul.tt_tabs li i.fa{
  margin-right: 3px;
 }
ul.tt_tabs li:hover {
  background: rgba(6,13,19,0.8);
  outline: #64b6ce;
  cursor: pointer;
}

div.tt_container{
  color: #fff;
  position: relative;
  padding: 30px;
  overflow: hidden;
  background: rgba(6,13,19,0.7);
  -webkit-box-shadow: 
      inset 0 0 20px  rgba(0,0,0,0.3),
            0 0 20px rgba(0,0,0,0.2); 
  -moz-box-shadow: 
      inset 0 0 20px  rgba(0,0,0,0.3),
            0 0 20px rgba(0,0,0,0.2); 
  box-shadow: 
      inset 0 0 20px  rgba(0,0,0,0.3),
            0 0 20px rgba(0,0,0,0.2);
  border-radius: 7px;    
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;      
}
div.tt_tab {
  left: 0;
  top: 0;
  padding: 30px;
  visibility: hidden;
  position: absolute; 
  transition: all 0.40s ease-in-out;
 -webkit-transition: all 0.40s ease-in-out;
 -moz-transition: all 0.40s ease-in-out;
 }
div.tt_tab.active {
  visibility: visible; 
}
}
div.tt_tab h2 {
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 8px;
}
div.tt_container:after{
  content:"";
  display:table;
  clear:both;
}
/* VERTICAL MODE */
.vertical .tt_container {
  display: inline-block;
  width: 65%;
  vertical-align: top;
   margin-left: -2px;
}
.vertical ul.tt_tabs {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  margin: 3% 0 0 0;
  padding: 0;
  text-align: center;
  max-width: 25%;
}
.vertical ul.tt_tabs li {
  padding: 18px 20px;
  display: block;
  border-radius: 0;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  }
.vertical.responsive .tt_tabs {
  width: 90%;
  padding: 3%;
}
.vertical.responsive .tt_tabs li{
  border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
}
.responsive .tt_tabs li{
  display: block;
  padding: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.responsive .tt_tabs li h3{
  display: block;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  transition: all 0.20s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  border-radius: 2px;
}
.responsive .tt_tab{
  position: relative;
  visibility: visible;
}
/* Classic Layout */
  .classic .tt_container {
    position: relative;
    background: #E3E3E3; 
    border: 1px solid #aaa; 
    border-top-color: transparent; 
    box-shadow: 0 2px 2px rgba(0,0,0,0.1); 
    border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -moz-border-radius: 0px;
  }
  .classic .tt_tabs{
    border-bottom: 1px solid #aaa; 
    margin: 0; 
    position: relative; 
    padding-left: 10px; 
    margin-bottom: -1px; 
    z-index: 2;
  }
  .classic .tt_tabs li{
    display: inline-block;
    background: transparent; 
    padding: 15px 20px; 
    margin-left: 5px;
    border-radius: 3px;
    border: 1px solid #aaa; 
    border-bottom: 0px; 
    margin-bottom: 0; 
    box-shadow: none; 
    -webkit-box-shadow: none; 
    -moz-box-shadow: none;
    -o-box-shadow: none;
  }
  .classic .tt_tabs li .fa{
    padding-right: 5px;
  }
  .classic .tt_tabs li:hover{
    cursor: pointer; 
    background: #E3E3E3;
  }
  .classic:not(.responsive) .tt_tabs li.active{
    border-bottom: 1px solid transparent; 
    background: #E3E3E3; 
    margin-bottom: -1px;
  }  
/* Hollow */
  .hollow .tt_tabs li, .hollow .tt_tabs li.active{
    box-shadow: none;
    background: transparent;
  }
  .hollow .tt_tabs li.active{
    border-bottom: 1px solid red;
  }
  .hollow .tt_tabs{
    border-bottom: 1px solid #aaa;
  }
  .hollow .tt_container {
    box-shadow: none;
    background: transparent;
    border: none;
  }
/* Simple */
  .simple .tt_tabs li{
    margin-bottom: -1px;
    box-shadow: none;
    background: transparent;
  }
  .simple .tt_tabs li.active{
    border: 1px solid #333;
    border-bottom-color: transparent;
  }
  .simple .tt_tabs{
    border-bottom: 1px solid #333;
    margin-bottom: -1px;
  }
  .simple .tt_container{
    border: 1px solid #aaa;
    border-top: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
  }

.responsive .tt_container{display: none;}
.classic.responsive .tt_tabs li{padding: 1px;}
.classic.responsive .tt_tabs li h3{padding: 20px 15px;}
@media only screen and (max-width: 480px){
  .responsive{width: 90%!important; padding: 2%!important;}
  .responsive.vertical .tt_tabs{max-width: 100%; }
}
@media only screen and (max-width: 760px){
  .responsive.vertical .tt_tabs{max-width: 100%; }
  .responsive.vertical ul.tt_tabs li{padding: 10px; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;}}
  }
@media only screen and (max-width: 970px){
.vertical{width: 90%!important; padding: 3%!important;}
}
@media only screen and (min-width: 720px) and (max-width: 1080px){
.vertical ul.tt_tabs {width: 20%;}
.vertical .tt_container{width: 50%;}
}